<div class="container">
    <h2>reset your account password</h2>
   <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
    <div class="form-floating mb-3" >
        <input type="email" class="form-control" id="floatingInput" placeholder="your email" formControlName="email">
        <label for="floatingInput">email </label>
      </div>
      <div class="form-floating mb-3" >
        <input type="password" class="form-control" id="floatingInput" placeholder="your newPassword" formControlName="newPassword">
        <label for="floatingInput">password </label>
    
    </div>
      
    <button class="btn btn-lg me-auto btn-outline-success my-3" type="submit">reset password</button>

    </form>
</div>