<div class="container my-3">
    <div class="row g-0">
        <div class="col-md-9">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="" alt="" height="400px"></ng-template>  
                <ng-template carouselSlide><img src="" alt="" height="400px"></ng-template>  
                <ng-template carouselSlide><img src="" alt="" height="400px"></ng-template>  
              </owl-carousel-o>
        </div>
        <div class="col-md-3">
            <img src="" alt="" class="w-100 " height="200px">
            <img src="" alt="" class="w-100 " height="200px">
        </div>
    </div>
</div>