<div class="container">
    <h2>please enter your verification code</h2>
   <form action="" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(forgetPasswordForm)" >
    <div class="form-floating mb-3" >
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email </label>
      </div>
      <div class="alert alert-success" *ngIf="sucess">
        <p class=" m-2" > Reset code sent to your email</p>

      </div>
      <button class="btn btn-lg me-auto btn-outline-success" type="submit">verify</button>
   </form>
</div>